<!doctype html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.ico' %}" />

    <title>Brian | About Me</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href="{% url 'homepage:index' %}#home">
            <img src="{% static 'images/Logo.png' %}" width="30" height="30" alt="logo" style="margin: 0px 90px 0px 0px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse sticky navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'homepage:index' %}#home" style="margin: 0px 20px">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:index' %}#about" style="margin: 0px 20px">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:index' %}#work" style="margin: 0px 20px">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homepage:jadwal' %}" style="margin: 0px 20px">Schedule</a>
            </li>
          </ul>
          <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:index' %}#contact" style="margin: 0px 20px">Contact</a>
              </li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <section class = "col" id = "about" style="padding-top:100px"> 
            <h1 class="h1Fontpage2 text-center">Add Schedule</h1>
              <form action='' method="POST" style = "
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 1.5em;
                color: rgba(255, 255, 255, 0.7);
                padding-bottom: 10px;
                "
              >
                {% csrf_token %}
                <div class="form-row">
                  <div class="form-group col-md-8 mb-0">
                    {{ form.nama|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-4 mb-0">
                    {{ form.kategori|as_crispy_field }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6 mb-0">
                    {{ form.tempat|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-4 mb-0">
                    {{ form.date|as_crispy_field }}
                  </div>
                  <div class="form-group col-md-2 mb-0">
                    {{ form.time|as_crispy_field }}
                  </div>
                </div>
                
                <br>
                <input type="submit" name="submit" value="Submit" class = 'btn btn-secondary mx-auto'>
              </form>
                
          
              <div class="text-center">
                  <a href = '/jadwal/' style="text-align: center">
                    <button type = 'button' class = 'btn btn-secondary' style="margin-bottom: 100px">
                        See Your Schedule
                    </button>
                </a>
              </div>
        
        </section>
      </div>
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>